.main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 99%;
  height: 99%;
}

.main .topfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .topfield #button {
  margin: 2px;
}

.main .imagefield {
  margin-top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .imagefield img {
  width: 20%;
  height: 90%;
}

.main .textboxfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .textboxfield #textbox {
  border-radius: 25px;
  padding: 10px;
  width: 90%;
}

.main .searchbuttonsfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 5px;
}

.main .searchbuttonsfield #button {
  padding: 5px;
  margin: 5px;
}

.advmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  height: 98%;
}

.advmain .topfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10%;
  width: 100%;
}

.advmain .topfield img {
  width: 150px;
  height: 100px;
}

.advmain .topfield #button {
  margin: 2px;
}

.advmain #advsearchtext {
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: 300;
  padding-left: 25px;
  text-decoration: underline;
}

.advmain #findpageswith {
  font-family: 'Lucida Sans Regular';
  padding-left: 25px;
}

.advmain .alltextfields {
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: small;
}

.advmain .alltextfields .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.advmain .alltextfields .row #text {
  width: 20%;
  font-family: 'Lucida Sans';
}

.advmain .alltextfields .row #box {
  width: 40%;
}

.advmain .searchbuttonsfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 5px;
}

.advmain .searchbuttonsfield #button {
  padding: 5px;
  margin: 5px;
  background-color: #4258f4;
  color: white;
  border-radius: 5px;
  border: 0px;
}
/*# sourceMappingURL=SearchStyleSheet.css.map */