.main {
    //border: 1px black solid;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 99%;
    .topfield {
        //border: 1px red solid;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: row;
        #button {
            margin:2px;
        }
    }
    .imagefield {
        //border: 1px orange solid;
        margin-top: 12%;
        display:flex;
        align-items: center;
        justify-content: center;
        img {
            width: 20%;
            height: 90%;
        }
    }
    .textboxfield {
        //border: 1px yellow solid;
        display:flex;
        align-items: center;
        justify-content: center;
        #textbox {
            border-radius: 25px;
            padding: 10px;
            width:90%;
        }
    }
    .searchbuttonsfield {
        //border: 1px green solid;
        display:flex;
        align-items: center;
        justify-content: center;
        align-content: space-around;
        margin: 5px;
        #button {
            padding: 5px;
            margin: 5px;
        }
        
    }

}



.advmain {    
    //border: 1px black solid;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 98%;
    height: 98%;
    .topfield {
        //border: 1px red solid;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        height: 10%;
        width: 100%;
        img {
            width: 150px;
            height: 100px;
        }
        #button {
            margin: 2px;
        }
    }
    #advsearchtext {
        font-family:'Lucida Sans';
        font-size: large;
        font-weight: 300;
        padding-left: 25px;
        text-decoration: underline;
    }
    #findpageswith {
        font-family: 'Lucida Sans Regular';
        padding-left: 25px;
    }


    .alltextfields {
        //border: 1px orange solid;
        padding-left: 20px;
        flex-direction: column;
        font-size: small;
        .row {
            display: flex;
            padding: 5px;
            #text {
                width: 20%;
                font-family:'Lucida Sans';
            }
            #box {
                width: 40%;
            }
        }
    }

    .searchbuttonsfield {
        //border: 1px green solid;
        display:flex;
        justify-content: flex-end;
        align-content: flex-end;
        margin: 5px;
        #button {
            padding: 5px;
            margin: 5px;
            background-color: rgb(66, 88, 244);
            color: white;
            border-radius: 5px;
            border: 0px;
            
        }
    }
}